@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300;400;500&family=Tajawal:wght@300;400;500&display=swap');

:root {
  --aannabi: #8a1538;
  --red: #ff004c;
  --orange: #ff4700;
  --grey: #65656b;
  --grey-mute: #c8c8c8;
  --green: #00CFB7;
  --font-family1: 'Tajawal', sans-serif;
  --font-family2: 'IBM Plex Sans Arabic', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--aannabi);
  overflow-x: hidden;
}

header {
  position: relative;
  /* height: 100vh; */
  width: 100%;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  /* height: 4rem; */
  padding-top: 1rem;
}

header nav a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--grey-mute);
  font-family: var(--font-family1);
  font-size: 1.6rem;
  font-weight: 500;
  margin-right: 5rem;
  position: relative;
}

header nav a span {
  visibility: hidden;
  position: absolute;
  top: 35px;
  color: var(--grey-mute);
  padding: .2rem 1rem;
  border-radius: 20px;
  transform: translateY(-20px);
  transition: transform .6s ease;
  animation-delay: 5s;
}

header nav a:hover span {
  visibility: visible;
  transform: translateY(0);
}

header nav a i {
  color: #fff;
  z-index: 2;
  font-size: 1.6rem;
  /* margin-left: .6rem; */
}

header nav a:hover i {
  color: var(--red);
}

header nav button {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 1.6rem;
  padding: .4rem 1rem;
  margin-left: 2rem;
  color: #fff;
  position: relative;
  font-family: var(--font-family2);
  cursor: pointer;
}

header nav .btn {
  font-family: var(--font-family1);
  display: inline-block;
  overflow: hidden;
  border-radius: 50px;
  background: linear-gradient(90deg, #c8bb01, #fc55b6);
}

header nav .btn span {
  position: absolute;
  background: var(--red) ;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  animation: animate .7s linear infinite;
}

@keyframes animate {
  0% {
      width: 0px;
      height: 0px;
      opacity: 1;
  }

  100% {
      width: 500px;
      height: 500px;
      opacity: 0;
  }
}


header nav .btn:hover{
  background-color: var(--red);
  color: #fff;
}

header a h4 {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.2rem;
  font-family: var(--font-family2);
  color: #fff;
  cursor: pointer;
}


/* Start Page */

.start {
  padding: 8rem;
  padding-top: 12rem;
}

.container {
  display: grid;
  row-gap: 2.5rem;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}


header .container .image {
  background-color: var(--red);
  position: relative;
  width: 28rem;
  height: 28rem;
  border-radius: 5rem;
  box-shadow: 8px 22px 15px rgba(0, 0, 0, .2);
}

header .container .image img {
  position: absolute;
  bottom: 0;
  left: -20px;
  width: 120%;
  filter: drop-shadow(8px 22px 15px rgba(0, 0, 0, .8));
}

header .container .image span {
  position: absolute;
}

header .container .image .one {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--green);
  top: -80px;
  left: 30px;
}

header .container .image .tow {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fff;
  bottom: 80px;
  left: 10px;
}

header .container .image .three {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--orange);
  top: 240px;
  right: -40px;
  z-index: -1;
}

.container .content {
  /* margin: 16rem 0 0 35rem; */
  direction: rtl;
}

header .container .content h1 {
  font-size: 3.5rem;
  font-family: var(--font-family1);
  color: #fff;
  margin-bottom: 3rem;
}

header .container .content p {
  font-size: 1.6rem;
  font-family: var(--font-family2);
  color: var(--grey-mute);
}

/* Animation Cup */

header .cup {
  position: absolute;
  top: 20%;
  left: 55%;
  /* transform: translateX(-50%); */
  width: 10rem;
  animation: floaty 1.6s infinite alternate;
}

header .shadow {
  position: absolute;
  top: 55%;
  left: 54%;
  width: 180px;
  height: 34px;
  background-color: hsla(38, 21%, 19%, .26);
  border-radius: 50%;
  filter: blur(7px);
  animation: shadow 1.6s infinite alternate;
}

@keyframes floaty {
  0% {
    transform: translateY(0);
  }
  
  100% {
    transform: translateY(15px);
  }
}

@keyframes shadow {
  0% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(.75, .75);
  }
}

/* main */
main {
  position: relative;
  overflow-x: hidden;
}

main .start {
  padding: 5rem;
  padding-top: 8rem;
}


main .container .image {
  background-color: var(--orange);
  position: relative;
  width: 58rem;
  height: 28rem;
  border-radius: 1.6rem;
  box-shadow: 8px 22px 15px rgba(0, 0, 0, .2);
}

main .container .image img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60%;
}

main .container .image .title {
  position: relative;
}

main .container .image .title span {
  position: absolute;
  right: 50px;
  width: 8rem;
  top: 30px;
  background-color: #fff;
  color: var(--aannabi);
  padding: .4rem 1rem;
  text-align: start;
  border-radius: 50px;
  /* direction: rtl; */
  font-size: 1.6rem;
  font-weight: 600;
  font-family: var(--font-family1);
  transition: .6s;
  cursor: pointer;
}

main .container .image .title span:hover {
  background-color: var(--aannabi);
  color: #fff;
}

main .container .image .title span img {
  width: auto;
  height: 100%;
  left: 5rem;
  padding: .6rem;
}

main .container .image .title p {
  direction: rtl;
  position: absolute;
  line-height: 4rem;
  font-size: 3rem;
  font-family: var(--font-family2);
  right: 50px;
  top: 80px;
  color: #fff;
}

main .container .content {
  position: relative;
}

main .container .content h1 {
  font-size: 3.5rem;
  font-family: var(--font-family2);
  color: #fff;
  margin-top: 3rem;
}

main .container .content span {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: var(--red);
  position: absolute;
  top: 78%;
  left: 65%;
  animation: live 1s ease infinite;
}

@keyframes live {
  0%, 100%{
    transform: scale(1.4);
    box-shadow: 0px 0px 2px 8px rgb(255, 0, 76, .4);
  }
  
  50% {
    transform: scale(1);
    box-shadow: 0px 0px 15px 20px rgb(255, 0, 76, .4);
  }
}

main .container .content .search {
  position: relative;
  height: 50px;
}

main .container .content .search .input {
  background-color: var(--grey-mute);
  color: black;
  border: 0;
  font-size: 18px;
  padding: 15px;
  height: 50px;
  width: 50px;
  transition: width .3s ease;
  border-radius: 20px;
  font-family: var(--font-family2);
}

main .container .content .btn-search {
  background-color: var(--grey-mute);
  border: 0;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  width: 50px;
  transition: transform .3s ease;
  border-radius: 20px;
}

main .container .content .btn-search:focus,
main .container .content .input:focus { 
  outline: none;
}

main .container .content .search.active .input {
  width: 300px;
  border-radius: 0 20px 20px 0;
}

main .search.active .btn-search {
  transform: translateX(-298px);
  border-radius: 20px 0 0 20px !important;
}

/* SIPER SLIDER */

main .swiper-container {
  position: relative;
  height: 100%;
  margin: 2rem;
  /* display: none; */
}

main .swiper-slide {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  height: 20rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: .4s ease;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main .swiper-slide:hover,
main .swiper-slide.active {
  background-color: var(--red);
}

main .swiper-slide img {
  width: 8rem;
  margin-bottom: 2rem;
}

main .swiper-slide h3 {
  font-size: 1.6rem;
  font-family: var(--font-family1);
  color: #fff;
}

main .box-container {
  margin: 5rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main .box-container .box-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 2rem;
  width: 60%;
  margin: 3rem 0;
}

.box-content .box-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
  color: #fff;
  font-size: 22px;
}

.box-content .box-title i {
  font-weight: 600;
  font-size: 24px;
  cursor: pointer;
}

.box-content .box-title h3 {
  font-family: var(--font-family1);
}

main .box-container .box-content .box {
  border-radius: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 20px 0;
  /* justify-content: space-between; */
  position: relative;
}

.box-content .box .time {
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: var(--aannabi);
  font-family: var(--font-family1);
  font-weight: 600;
  background-color: #fff;
  border-radius: 40px 0 0 40px;
}

.box-content .box > div:nth-child(2) {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 10%;
}

.box-content .box .info {
  width: 30%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-direction: column; */
}

.box-content .box .info div {
  line-height: 30px;
  font-size: 22px;
  color: #fff;
  font-family: var(--font-family1);
}

/* MEDIA QUIRE */

@media screen and (max-width: 1024px){
  header nav a {
    font-size: 1.2rem;
    margin-right: 2rem;
  }

  header nav button {
    font-size: 1.2rem;
    padding: .4rem 1rem;
    margin-left: .5rem;
  }

  header .start {
    padding: 4rem 0 0;
  }

  .container {
    display: flex;
    gap: 5rem;
    flex-direction: column;
  }

  main .container .content {
    width: 300px;
  }

  main .container {
    flex-direction: column-reverse;
  }

  header .container .image {
    width: 20rem;
    height: 20rem;
    border-radius: 4rem;
  }
  
  header .container .image img {
    width: 130%;
  }

  header .container .image .one {
    top: -50px;
    width: 22px;
    height: 22px;
  }

  header .container .image .three {
    width: 22px;
    height: 22px;
  }

  header .container .image .tow {
    width: 28px;
    height: 28px;
  }

  header .cup {
    top: 60%;
    left: 8%;
    width: 8rem;
  }
  
  header .shadow {
    top: 90%;
    left: 6%;
    width: 140px;
    height: 30px;
  }

  main .container .content span {
    left: 5%;
  }

  main .container .image {
    width: 100%;
    height: 24rem;
  }

  main .container .image img {
    width: 55%;
  }

  main .swiper-slide {
    height: 16rem;
  }

  main .swiper-slide img {
    width: 6rem;
  }
  
  main .swiper-slide h3 {
    font-size: 1.4rem;
  }

  main .box-container .box-content {
    width: 90%;
  }

  .box-content .box-title {
    font-size: 18px;
  }

  .box-content .box .time {
    font-size: 20px;
  }
  
  .box-content .box .info {
    width: 50%;
  }
  
  .box-content .box .info div {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {

  header nav {
    justify-content: end;
  }

  header nav div:nth-child(1) {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    /* border: 2px solid #fff; */
    width: 80%;
    height: 5rem;
    border-radius: 50px 50px 0 0;
    background-color: rgba(255, 255, 255, .9);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 999;
    /* position: relative; */
  }

  header nav div:nth-child(1)::before {
    content: '';
    position: absolute;
    width: 200%;
    height: 300%;
    background: linear-gradient(
      to bottom, 
      rgba(138, 21, 56, .0),
      rgb(138, 21, 56)
    );
  }

  header nav a {
    flex-direction: column-reverse;
    margin: 0;
    margin-bottom: -1rem;
    cursor: pointer;
    /* justify-content: space-between; */
  }

  header nav a span {
    transform: translateY(-30px);
  }
  
  header nav a:hover span {
    color: var(--red);
    transform: translateY(-65px);
    
  }

  header nav a i {
    text-align: center;
  }

  header nav div:nth-child(2) {
    margin-right: -1rem;
  }

  header .start {
    padding-top: 3rem;
  }

  main .start {
    padding-top: 2rem;
  }

  header .container {
    display: flex;
    gap: 5rem;
    flex-direction: column;
  }

  header .container .content {
    margin-right: -5rem;
  }

  header .container .content h1 {
    font-size: 2.8rem;
    margin-bottom: 2rem;
  }
  
  header .container .content p {
    font-size: 1.2rem;
  }

  header .cup {
    top: 65%;
    left: 5%;
    width: 6rem;
  }

  header .shadow {
    left: 2%;
    width: 120px;
  }

  main .start {
    padding: 2rem;
  }
  
  main .container .image {
    height: 18rem;
  }
  
  main .container .image img {
    width: 50%;
    left: 10px;
  }

  main .container .image .title span {
    right: 30px;
    width: 6.5rem;
    padding: .5rem;
    font-size: 1.2rem;
  }
  
  main .container .image .title span img {
    left: 3.6rem;
    padding: .5rem;
  }
  
  main .container .image .title p {
    line-height: 3rem;
    font-size: 2rem;
    font-weight: 500;
    right: 30px;
  }
  
  main .container .content h1 {
    font-size: 2.6rem;
  }

  main .box-container .box-content .box {
    padding: 10px 0;
  }

  .box-content .box .time {
    width: 20%;
    font-size: 16px;
  }

  .box-content .box .flag img {
    width: 80%;
  }

  .box-content .box > div:nth-child(2) {
    width: 80%;
    margin-left: 20%;
  }

  .box-content .box-title,
  .box-content .box .info div {
    font-size: 16px;
  }

  header a h4 {
    left: 5%;
    transform: translateX(0);
    font-size: 1rem;
  }
}

@media screen and (max-width: 439px) {
  header nav div:nth-child(1) {
    width: 100%;
  }

  header nav div:nth-child(1)::before {
    width: 300%;
  }

  header .container .content {
    margin-right: 0;
  }

  main .container .image {
    height: 12rem;
  }
  
  main .container .image img {
    width: 65%;
    left: 0;
  }

  main .container .image .title span {
    right: 10px;
    top: 20px;
    width: 5rem;
    padding: .2rem .5rem;
    font-size: 1rem;
  }
  
  main .container .image .title span img {
    left: 3rem;
    padding: .4rem;
  }
  
  main .container .image .title p {
    line-height: 2.2rem;
    font-size: 1.4rem;
    font-weight: 600;
    right: 10px;
    top: 50px;
  }

  main .swiper-container {
    position: relative;
    height: 100%;
    margin: 2rem;
    /* display: none; */
  }
  
  main .swiper-slide {
    height: 8rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: .4s ease;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  main .swiper-slide:hover,
  main .swiper-slide.active {
    background-color: var(--red);
  }
  
  main .swiper-slide img {
    width: 3rem;
    margin-bottom: 1rem;
  }
  
  main .swiper-slide h3 {
    font-size: 1em;
    font-weight: 400;
    font-family: var(--font-family1);
    color: #fff;
  }

  .box-content .box .flag {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .box-content .box .flag img {
    width: 60%;
  }

  .box-content .box > div:nth-child(2) {
    width: 82%;
    /* margin-left: 24%; */
  }

  main .box-container .box-content .box {
    padding: 2px 0;
  }

  .box-content .box-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    color: #fff;
  }
}